form.js-form-greeting input,
.body__column h4{
    width : 100%;
}

form.js-form-greeting input{
    height : 200%;
}

.body__column h4{
    font-size : 30px;
    text-align : center;
    line-height: 50px;
}